node_modules/
.next/
out/
dist/
.env
.env.local
*.backup
*.bak
app_backup_*/
.firebase/
firebase-debug.log
.DS_Store
.vercel
mobile/*.apk
lib/serviceAccountKey.json
functions/src/*.backup.*
functions/lib/
functions/.env
*.zip
*.pkg
